html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #040926;
    font-family: 'Raleway', sans-serif;
}

.outerFlex{
    display: flex;
    flex-direction: row;
}

.innerFlex{
    
}

/* Colors for classes */
.Warrior {
    color:#C79C6E;
}
.Mage {
    color:#69CCF0;
}
.DeathKnight {
    color:#C41F3B;
}
.DemonHunter {
    color:#A330C9;
}
.Druid {
    color:#FF7D0A;
}
.Hunter {
    color:#ABD473;
}
.Monk {
    color:#00FF96;
}
.Paladin {
    color:#F58CBA;
}
.Priest {
    color:#FFFFFF;
}
.Rogue {
    color:#FFF569;
}
.Shaman {
    color:#0070DE;
}
.Warlock {
    color:#9482C9;
}

/* Character info nav bar */
#characterInfo{
    padding-left: 20px;
    min-width: 500px;
}

#characterInfoNav{
    display: flex;
    justify-content: space-evenly;
}

.innerNav{
    transition: background-color 0.4s ease;
    display: inline;
    background-color: #373F51;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-left: 95px;
    margin-top: 10px;
}

/* Character components */
#characterInfoContent{
   padding-top: 20px;
    color: white;
}

#form1-image{
    min-height: 500px;
    min-width:500px;
    background-color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(105, 115, 138, 0.70); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(105, 115, 138, 0.90);
    cursor: pointer;
}

#characters{
    background-color: #373F51;
    height: 90%;
    max-width: 300px;
    min-width: 200px;
    overflow:auto;
}

#characters ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#characters li{
    display: block;
    height: 65px;
    border-bottom: 1px solid rgba(105, 115, 138, 0.70);
}


#characters .imgDiv{
    float: left;
    margin-top:-8px;
}

#characters .textDiv{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

#characters .textDiv h3{
    padding-top:3px;
    display: block;
    margin:0;
}

.character:hover img{
    box-shadow: 0 0 10px rgba(105, 115, 138, 0.70);
    cursor: pointer;
}

.character:hover{
    cursor: pointer;
}

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    
}

#navbar li{
    display: inline;
    max-width: 50px;
}

#title{
    color: #EDA144;
    font-family: 'Playfair Display SC', serif;
    font-size: 4em;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.title{
    color: #EDA144;
    font-family: 'Playfair Display SC', serif;
}

#loginContainer{
    background-color: #F2DF93;
    max-width: 500px;
    max-height: 300px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #373F51;
    margin-bottom: 20px;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: right;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #373F51;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: rgb(76, 87, 112);
}

.domoForm {
    height: 35px;
    width: 300px;
    margin-top:0px;
    padding-top:10px;
    background-color: #373F51;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.domoForm #searchCharacterName{
    padding-top:20px;
}

.domoForm #searchCharacterRealm{
    padding-top:20px;
}

.domoForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
    display: none;
}

.domoForm input[type=text] {
    float:left;
    margin-left: 25px;
}

.makeDomoSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    background-color: #373F51;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-left: 95px;
    margin-top: 10px;
}

.makeDomoSubmit:link, .makeDomoSubmit:visited, .makeDomoSubmit:hover, .makeDomoSubmit:active {
    color: white;
}

.makeDomoSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #040926;
    cursor: pointer;
}

.mainForm {
    height: 200px;
    width: 350px;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1em;
    width: 100px;
    background-color: #373F51;
    border-radius: 2px;
    border-color: #373F51;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: rgb(92, 104, 133);
    cursor: pointer;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #373F51;
}

#domoMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#domoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#domo {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}


#domos {
    width: 40%;
    min-width: 400px;
    border: 2px solid #373F51;
    border-radius: 4px;
    margin-left: 0%;
}

.domo {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #373F51;
    border-radius: 4px;
    background-color: #373F51;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.domo:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #373F51;
}

img.domoFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyDomo {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.domoName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.domoAge {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

.domo:first-child {
    margin-top: 10px;
}

.domo:last-child {
    margin-bottom:10px;
}

/* POPUP BOX https://codepen.io/imprakash/pen/GgNMXO?q=css+popup&limit=all&type=type-pens */
.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 600px;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #668cff;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }